{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/select.css' %}"
    />
  </head>

  <body>
    <a href="{% url 'index' %}" class="button">Signout</a>

    <h1>
      CLASSIFICATION OF BRAIN TUMOR USING <br />IMAGE PROCESSING AND DEEP
      LEARNING
    </h1>

    <div class="slideshow-container">
      <div class="mySlides fade">
        <div class="numbertext">1/4</div>
        <img src="static/images/Te-gl_0010.jpg" style="width: 100%" />
        <div class="text">Glioma Tumor</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2/4</div>
        <img src="static/images/Te-me_0010.jpg" style="width: 100%" />
        <div class="text">Meningioma Tumor</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3/4</div>
        <img src="static/images/Te-no_0010.jpg" style="width: 100%" />
        <div class="text">No Tumor</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">4/4</div>
        <img src="static/images/Te-pi_0010.jpg" style="width: 100%" />
        <div class="text">Pituitary Tumor</div>
      </div>
    </div>
    <br />

    <div style="text-align: center">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

    <script>
      let slideIndex = 0;
      showSlides();

      function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
          slideIndex = 1;
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
      }
    </script>

    <form
      method="POST"
      action="{% url 'result' %}"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <label for="avatar">Upload an MRI Image:</label><br /><br />

      <input type="file" name="image" accept="image/png, image/jpeg" />

      <input type="submit" value="Classify Tumor" />
    </form>
  </body>
</html>
